.postList {
  width: 600px;
  margin: 0 auto;
}

.postWrapper {
  margin-bottom: 15px;
  border: 2px solid white;
  border-radius: 6px;
  margin-top: 20px;
}

.postTitle {
  background-color: #181818;
  padding: 10px 20px 20px;
  font-size: 18px;
  font-weight: bold;
  border-radius: 6px;
  text-align: center;
  word-wrap: break-word;
}

.linkTitle:hover {
  color: #ffcc00;
}

.linkTitle {
  padding: 10px 20px;
  text-decoration: none;
  color: white;
}

.postContent {
  margin: 0 auto 25px;
  width: 450px;
  background: #eee;
  padding: 20px;
  color: #181818;
  border: 2px solid white;
  border-radius: 6px;
  word-wrap: break-word;
  max-height: 180px;
  overflow: hidden;
}

hr {
  width: 450px;
}
.imgLike {
  transition: 0.2s;
  height: 2em;
  padding-right: 1em;
}

.imgLike:hover {
  transform: scale(1.2);
}

.imgDislike {
  transition: 0.2s;
  height: 2em;
  padding-right: 1em;
}

.imgDislike:hover {
  transform: scale(1.2);
}

.leftCol {
  display: flex;
  flex-direction: row;
}

.like {
  display: flex;
  flex-direction: row;
  cursor: pointer;
  color: #898989;
  padding: 5px 10px 10px 20px;
  align-items: center;
}

.dislike {
  display: flex;
  flex-direction: row;
  cursor: pointer;
  color: #898989;
  padding: 5px 10px 10px;
  align-items: center;
}

.viewWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: #898989;
  padding: 5px 25px 10px 10px;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}