.postList {
  width: 600px;
  margin: 100px auto;
}

.postWrapper {
  margin-bottom: 15px;
  border: 2px solid white;
  border-radius: 6px;
  margin-top: 20px;
}

.postTitle {
  background-color: #181818;
  padding-top: 10px;
  padding-right: 20px;
  padding-left: 20px;
  font-size: 18px;
  font-weight: bold;
  border-radius: 6px;
  text-align: center;
  word-wrap: break-word;
}

.authorAvatar {
  height: 30px;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  transition: 0.2s;
}

.authorAvatar:hover {
  transform: scale(2);
}

.authorPublishDate {
  display: flex;
  flex-direction: column;
  font-style: italic;
  color: white;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 11px;
}
.authorInfo {
  display: flex;
  flex-direction: row-reverse;
  text-align: right;
  padding-right: 73px;
  align-items: center;
}

.linkTitle:hover {
  color: #ffcc00;
}

.linkTitle {
  padding: 10px 20px;
  text-decoration: none;
  color: white;
}

.postContent {
  margin: 0 auto 25px;
  width: 450px;
  background: #eee;
  padding: 20px;
  color: #181818;
  border: 2px solid white;
  border-radius: 6px;
  word-wrap: break-word;
  max-height: 180px;
  overflow: hidden;
}

hr {
  width: 450px;
}


.imgLike {
  transition: 0.2s;
  height: 2em;
  padding-right: 1em;
}

.imgLike:hover {
  transform: scale(1.2);
}

.imgDislike {
  transition: 0.2s;
  height: 2em;
  padding-right: 1em;
  padding-left: 1em;
}

.imgDislike:hover {
  transform: scale(1.2);
}

.leftCol {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  color: #eee;

}

.viewWrapper {
  transition: 0.2s;
  height: 2em;
  padding-right: 1em;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px 50px 20px;
}