.myPageContainer {
    display: flex;
    flex-direction: column;
    width: 500px;
    padding: 10px;
    background: #eee;
    border-radius: 6px;
    margin: 100px auto;
}

.myPageUserInfo {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 auto;
}

.wrapperUl li {
    padding-top: 5px;
    list-style-type: none;
}

.firstLastName {
    font-size: 18px;
    color: #181818;
    font-weight: bold;
    padding-bottom: 10px;

}

.avatarContainer {
    width: 100px;
    height: 100px;
}

.row {
    display: flex;
    justify-content: space-around;
    padding-bottom: 20px;
}
.input {
    padding: 10px 60px;
}

.close  {
    display: block;
    float: right;
    padding-right: 20px;
    padding-bottom: 20px;
}

.ldsEllipsis {
    display: flex;
    margin: 200px auto;
    position: relative;
    width: 80px;
    height: 80px;
}
.ldsEllipsis div {
    position: absolute;
    top: 33px;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: #ffcc00;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.ldsEllipsis div:nth-child(1) {
    left: 8px;
    animation: ldsEllipsis1 0.6s infinite;
}
.ldsEllipsis div:nth-child(2) {
    left: 8px;
    animation: ldsEllipsis2 0.6s infinite;
}
.ldsEllipsis div:nth-child(3) {
    left: 32px;
    animation: ldsEllipsis2 0.6s infinite;
}
.ldsEllipsis div:nth-child(4) {
    left: 56px;
    animation: ldsEllipsis3 0.6s infinite;
}
@keyframes ldsEllipsis1 {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}
@keyframes ldsEllipsis3 {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(0);
    }
}
@keyframes ldsEllipsis2 {
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(24px, 0);
    }
}

