.myPageContainer {
    display: flex;
    flex-direction: column;
    width: 500px;
    padding: 10px;
    background: #eee;
    border-radius: 6px;
    margin: 100px auto;
}

.myPageUserInfo {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
}

.wrapperUl li {
    padding-top: 5px;
    list-style-type: none;
}

.firstLastName {
    font-size: 18px;
    color: #181818;
    font-weight: bold;
    padding-bottom: 10px;

}

.avatarContainer {
    margin-right: 10px;
    min-width: 100px;
}

.row {
    display: flex;
    justify-content: space-around;
    padding-bottom: 20px;
}
.input {
    padding: 10px 60px;
}

.close  {
    display: block;
    float: right;
    padding-right: 20px;
    padding-bottom: 20px;
}
