.myPageContainer {
    display: flex;
    flex-direction: row;
    padding: 10px;
    background: #eee;
    box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, .4);
    border-radius: 2px;
}
.avatarContainer {
    margin-right: 10px;
    min-width: 100px;
}