.signUpWrapper {
  width: 500px;
  border: 1px solid white;
  margin: 100px auto;
  padding: 40px 20px;
  border-radius: 6px;
}

.signUpWrapper input {
  margin-top: 20px;
}

.row {
  margin-bottom: 10px;
}

.row:last-child {
  margin-bottom: 0;
}


