.wrapper {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(0,0,0, .5);
}

.modal {
    width: 300px;
    border-radius: 6px;
    background: #fff;
    margin: 150px auto;
}