.wrapper {
  background-color: #181818;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid white;
}

.wrapperUl {
  list-style: none;
  margin: 0;
  padding-top: 10px;
  padding-bottom: 10px;
}

.wrapperUl li {
  display: inline-flex;
}

.link {
  display: inline-flex;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  cursor: pointer;
}

.link:hover {
  color: #ffcc00;
}